@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Medium.e7e7c091.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GilroyLight';
  src: url('../public/fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Abnes';
  src: url('../public/fonts/AbnesRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}